<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvcmybatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvcmybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvcmybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvcmybatis" />
          <element id="library" level="module" name="apache-tomcat-7.0" module-name="springmvcmybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="lib" module-name="springmvcmybatis" />
          <element id="library" level="project" name="libmvcmybatis" />
        </element>
      </element>
    </root>
  </artifact>
</component>